
/* Q1 */
/* .alert.success {
  color: yellow;
}
.alert .success {
  color: yellow;
}
.alert, .success {
  color: yellow
}
.alert--.success {
  color: yellow
} */

















/* .card {
  border: 2px solid black;
  width: 250px;
  margin: 1em;
} */



/* Q2 */
/* .first.second { color: green}; */
/* div > p { color: green; } */
/* div .second, #first { color: green; } */
/* p:last-child { color: green; } */



















/* Q3 */
 
nav p.blue {

}

/* existing code */
/* #red { color: red; } */
.blue { color: blue; }
/* #red .blue { color: magenta; } */
.green p { color: lightgreen; }
p { color: grey; }
div.green p.blue { color: cyan; }


